<footer class="row row-cols-1 row-cols-md-3 g-4 footer">
  <div class="col">
    <h5 class="footer-title">Wunderlust App Copmany Name</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item footer-item">Hanover</li>
    </ul>
  </div>
  <div class="col">
    <h5 class="footer-title">Contact</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item footer-item">
        <a href="#">Phone</a>
      </li>
      <li class="list-group-item footer-item">
        <a href="#">Email</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <h5 class="footer-title">More about us</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item footer-item">
        <a href="#">Regulations</a>
      </li>
      <li class="list-group-item footer-item">
        <a href="#">Data protections informations</a>
      </li>
    </ul>
  </div>
</footer>
