<article>
  <div class="container details-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <section class="travelSection">
          <img
            class="travelDetailPhoto"
            [src]="travel.imageUrl"
            alt="travel place"
          />
        </section>
        <section>
          <h2>{{ travel.name }}</h2>
          <p>{{ travel.dateStart }} - {{ travel.dateEnd }}</p>
        </section>
        <section>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onTravelEdit()"
            >
              Edit Project
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onTravelDelete()"
            >
              Delete Project
            </button>
            <div class="dropdown btn-group" role="group">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-bars"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              </ul>
            </div>
          </div>
        </section>
        <hr />
        <section>
          <p>{{ travel.description }}</p>
        </section>
        <section>
          <div *ngIf="!participantsEmpty">
            <h5>Participants</h5>
            <ol class="list-group list-group-numbered">
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                *ngFor="let participant of travel.participants; let i = index"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">
                    {{ participant.name }} {{ participant.surname }}
                  </div>
                  {{ participant.email }}
                </div>
                <div class="button-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onParticipnatEdit(i)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onParticipantDelete(i)"
                  >
                    Delete
                  </button>
                </div>
              </li>
            </ol>
          </div>
          <button class="btn btn-primary" (click)="onAddingParticipant()">
            Add Participant
          </button>
        </section>
        <section *ngIf="editingParticipants">
          <hr />
          <span>Participant data</span>
          <form
            [formGroup]="participantForm"
            (ngSubmit)="onParticipantSubmit()"
          >
            <div class="input-group mb-3">
              <span class="input-group-text">Name and surname</span>
              <input
                type="text"
                aria-label="Name"
                class="form-control"
                formControlName="name"
              />
              <input
                type="text"
                aria-label="Surname"
                class="form-control"
                formControlName="surname"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Email</span>
              <input
                type="email"
                aria-label="Email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!participantForm.valid"
            >
              Save
            </button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">
              Cancel
            </button>
          </form>
        </section>
      </div>
    </div>
  </div>
</article>
