.details-wrapper {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
}
.travelSection {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.travelDetailPhoto {
  min-width: 250px;
  max-width: 400px;
  max-height: 250px;
  object-fit: contain;
}
