<div class="container home-container">
  <div class="row">
    <div class="col-xs-12 wrapper">
      <img src="../../assets/photos/logo.jpg" alt="logo" class="logo" />
      <div>
        <h1>WanderLust App</h1>
        <h5 class="subtitle">and everything is closer</h5>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h3>A new Travel</h3>
      <form [formGroup]="addTravelForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Add a travel name"
            formControlName="travelName"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Start and end date</span>
          <input
            type="date"
            id="date"
            aria-label="Start date"
            class="form-control"
            formControlName="startDate"
          />
          <input
            type="date"
            aria-label="End date"
            class="form-control"
            formControlName="endDate"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            rows="4"
            id="description"
            class="form-control"
            placeholder="Add a travel description"
            formControlName="travelDescription"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="imgPath" class="form-label">Image url</label>
          <input
            type="text"
            id="imgPath"
            class="form-control"
            placeholder="Add a photo url"
            formControlName="imgUrl"
          />
        </div>
        <div class="mb-3">
          <button
            *ngIf="!addingParticipant"
            type="button"
            class="btn btn-primary"
            (click)="onAddParticipant()"
          >
            Add participant
          </button>
          <button
            *ngIf="addingParticipant"
            type="button"
            class="btn btn-primary"
            (click)="onAddParticipant()"
          >
            Add next participant
          </button>
          <div
            class="mb-3"
            *ngIf="addingParticipant"
            formArrayName="participants"
          >
            <div
              *ngFor="let participant of controls; let i = index"
              [formGroupName]="i"
            >
              <hr />
              <span>Participant data</span>
              <div class="input-group mb-3">
                <span class="input-group-text">Name and surname</span>
                <input
                  type="text"
                  aria-label="Name"
                  class="form-control"
                  formControlName="name"
                />
                <input
                  type="text"
                  aria-label="Surname"
                  class="form-control"
                  formControlName="surname"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input
                  type="email"
                  aria-label="Email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteParticipant(i)"
              >
                Delete Participant
              </button>
            </div>
          </div>
          <hr />
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!addTravelForm.valid"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
