<div class="container home-container">
  <div class="row">
    <div class="col-xs-12 wrapper">
      <img src="../../assets/photos/logo.jpg" alt="logo" class="logo" />
      <div>
        <h1>WanderLust App</h1>
        <h5 class="subtitle">and everything is closer</h5>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h3>A new Travel</h3>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Add a travel name"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Start and end date</span>
          <input
            type="date"
            id="date"
            aria-label="Start date"
            class="form-control"
          />
          <input type="date" aria-label="End date" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            rows="4"
            id="description"
            class="form-control"
            placeholder="Add a travel description"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="imgPath" class="form-label">Image url</label>
          <input
            type="text"
            id="imgPath"
            class="form-control"
            placeholder="Add a photo url"
          />
        </div>
        <div class="mb-3">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onAddParticipant()"
            *ngIf="!addingParticipant"
          >
            Add participant
          </button>

          <div class="mb-3" *ngIf="addingParticipant">
            <hr />
            <label for="participant-name" class="form-label"
              >Participant name</label
            >
            <input type="text" id="participant-name" class="form-control" />
            <label for="participant-surname" class="form-label"
              >Participant surname</label
            >
            <input type="text" id="participant-surname" class="form-control" />
            <label for="participant-email" class="form-label"
              >Participant email</label
            >
            <input type="email" id="participant-email" class="form-control" />

            <button
              type="button"
              class="btn btn-success"
              (click)="onSaveParticipant()"
            >
              Save participant
            </button>
          </div>
          <hr />
        </div>
        <div class="mb-3" *ngIf="">
          <h5>Participats list:</h5>
          <ul class="list-group">
            <li class="list-group-item"></li>
          </ul>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>
